<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:utext="${title}"></title>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="_menu"></th:block>
<table border="1" class="table table-striped table-bordered">
    <tr>
        <td>User Name</td>
        <td>Password</td>
    </tr>
    <tr th:each="appUser: ${appUsers}">
        <td th:text="${appUser.userName}">First Name</td>
        <td th:text="${appUser.encryptedPassword}">Password</td>
    </tr>
</table>
</body>
</html>