<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:utext="${title}"></title>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>
<h2>Bank Accounts</h2>
<form action="#" th:action="@{/accountTransactions}" th:object="${bankAccount}" method="post">
<table border="1" class="table table-striped table-bordered">
    <tr>
        <td>Select</td>
        <td>Name</td>
        <td>Account Number</td>
        <td>Balance</td>
    </tr>
    <tr th:each="bankAccountElement: ${bankAccounts}">
        <td><input type="radio" name="baId" th:value="${bankAccountElement.baId}" th:field="*{baId}"></td>
        <td th:text="${bankAccountElement.name}">Account Name</td>
        <td th:text="${bankAccountElement.accountNumber}">Account Number</td>
        <td th:text="${bankAccountElement.balance}">Balance</td>
    </tr>
</table>
<button name="viewTransactions">View Transactions</button>
</form>
</body>
</html>