<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:utext="${title}"></title>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="_menu"></th:block>
<a th:href="@{/bankAccounts}">&lt;- Back to Bank Accounts</a>
<h2>Transfer Successful!</h2>
<table border="1">
    <tr>
        <td>From Account</td>
        <td>To Account</td>
        <td>Reason</td>
    </tr>
    <tr>
        <td th:text="${accountTransaction.fromAccount.name} + ' - ' + ${accountTransaction.fromAccount.accountNumber}">From Account</td>
        <td th:text="${accountTransaction.toAccount.appUser.userName} + ' - ' + ${accountTransaction.toAccount.accountNumber}">To Account</td>
        <td th:text="${accountTransaction.reason}">Reason</td>
    </tr>
</table>
<br/>
<table border="1">
    <tr>
        <td>Source Amount</td>
        <td>Rate</td>
        <td>Endpoint Amount</td>
    </tr>
    <tr>
        <td th:text="${accountTransaction.sourceAmount} + ' ' + ${accountTransaction.sourceCurrency.code}">Source Amount</td>
        <td th:text="${accountTransaction.endpointCurrency.rate} / ${accountTransaction.sourceCurrency.rate}">Rate</td>
        <td th:text="${accountTransaction.endpointAmount} + ' ' + ${accountTransaction.endpointCurrency.code}">Endpoint Amount</td>
    </tr>
</table>

</html>